<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>

      <tr>
        <td><%= form.label :Nombre %></td>
        <td><%= form.text_field :name, id: :admin_name %></td>
      </tr>

      <tr>
        <td><%= form.label :RUT %></td>
        <td><%= form.text_field :rut, id: :admin_rut %></td>
      </tr>

      <tr>
        <td><%= form.label :Email %></td>
        <td><%= form.text_field :email, id: :admin_email %></td>
      </tr>

      <tr>
        <td><%= form.label 'Número de Teléfono' %></td>
        <td><%= form.text_field :phone_number, id: :admin_phone_number %></td>
      </tr>

      <tr>
        <td colspan="2"><%= form.submit "Crear" %></td>
      </tr>

    </tbody>
  </table>

<% end %>
