<table>
  <tbody>

  <tr>
    <td><strong>Nombre:</strong></td>
    <td><%= @seller.name %></td>
  </tr>

  <tr>
    <td><strong>RUT:</strong></td>
    <td><%= @seller.rut %></td>
  </tr>

  <tr>
    <td><strong>Grupo:</strong></td>
    <td><%= @seller.group.name %></td>
  </tr>

  <tr>
    <td><strong>Inicios de sesión:</strong></td>
    <td><%= @seller.num_of_logins %></td>
  </tr>

  <tr>
    <td><strong>Boletos Vendidos:</strong></td>
    <td><%= @tickets_sold%></td>
  </tr>

  <tr>
    <td><strong>Talonarios Completados:</strong></td>
    <td><%= @books_sold %></td>
  </tr>


  </tbody>
</table>


