<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>RUT</th>
      <th>Grupo</th>
      <th>Boletos Vendidos</th>
      <th>Boletos Pagados</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @sellers.each do |seller| %>
    <tr>
      <td><%= seller.name %></td>
      <td><%= seller.rut %></td>
      <td><%= seller.group.name %></td>
      <td><%= seller.tickets_sold %></td>
      <td><%= seller.tickets_paid %></td>
      <td><%= button_to 'Mostrar', seller_path(seller.id) , method: :get %></td>#
    </tr>
  <% end %>

  <% if @group_id %>
    <tr>
      <td colspan="6"><%= button_to 'Agregar Vendedor', new_seller_path ,  params:{group_id: @group_id}, method: :get %></td>
    </tr>
  <% end %>

  </tbody>
</table>
