<p id="notice"><%= notice %></p>


<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>RUT</th>
    <th>Email</th>
    <th>Grupo</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sellers.each do |seller| %>
    <tr>
      <td><%= seller.name %></td>
      <td><%= seller.rut %></td>
      <td><%= seller.email %></td>
      <td><%= seller.group.name %></td>
      <td><%= button_to 'Mostrar', seller_path(seller.id) , method: :get %></td>#
      <!--<td><#%= link_to 'Show', seller %></td>-->
      <!--<td><#%= link_to 'Edit', edit_seller_path(seller) %></td>-->
      <!--<td><#%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller', new_seller_path %>
