<%= form_with(model: seller, local: true) do |form| %>
  <% if seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :group_id , @group_id %>
  <table>
    <thead>
    <th colspan="2"><legend>Ingresa los datos del nuevo vendedor:</legend></th>
    </thead>

    <tbody>

    <tr class="field">
      <td><%= form.label :Nombre %></td>
      <td><%= form.text_field :name, id: :seller_name %></td>
    </tr>

    <tr class="field">
      <td><%= form.label :RUT %></td>
      <td><%= form.text_field :rut, id: :seller_rut %></td>
    </tr>

    <tr class="actions">
      <td colspan="2"><%= form.submit 'Crear' %></td>
    </tr>

    </tbody>
  </table>

<% end %>
