
<% if @admin %>
  <h1>Datos del Vendedor</h1>
  <%= render 'sellers/admin_show' %>
<% else %>

  <h1>Tus Datos</h1>
  <table>
    <tbody>

        <tr>
          <td><strong>Nombre:</strong></td>
          <td><%= @seller.name %></td>
        </tr>

        <tr>
          <td><strong>RUT:</strong></td>
          <td><%= @seller.rut %></td>
        </tr>

        <tr>
          <td><strong>Email:</strong></td>
          <td><%= @seller.email %></td>
        </tr>

        <tr>
          <td><strong>Teléfono:</strong></td>
          <td><%= @seller.phone_number %></td>
        </tr>

        <tr>
          <td><strong>Boletos Vendidos:</strong></td>
          <td><%= @seller.tickets_sold%></td>
        </tr>

        <tr>
          <td><strong>Talonarios Completados:</strong></td>
          <td><%= @seller.books_sold %></td>
        </tr>

        <tr>
          <td><strong>Group:</strong></td>
          <td><%= @seller.group.name %></td>
        </tr>
    </tbody>
  </table>

<% end %>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>

<% if @admin %>
  <h1>Talonarios del Vendedor: </h1>
  <%= render 'books/admin_index' %>
<% end %>



