<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Institución</th>
    <th>Cantidad de Vendedores</th>
    <th>Boletos Vendidos</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.institution.name %></td>
      <td><%= group.sellers_quantity %></td>
      <td><%= group.tickets_sold %></td>
      <td><%= button_to 'Mostrar', group_path(group.id) , method: :get %></td>

    </tr>
  <% end %>

  <tr>
    <td colspan="5"><%= button_to 'Nuevo Grupo', new_group_path , method: :get %></td>
  </tr>

  </tbody>
</table>

<br>

