<h1>Grupo</h1>
<table>
  <tbody>

    <tr>
      <td><strong>Nombre:</strong></td>
      <td><%= @group.name %></td>
    </tr>

    <tr>
      <td><strong>Institución:</strong></td>
      <td><%= @group.institution.name %></td>
    </tr>

    <tr>
      <td><strong>Cantidad de Vendedores:</strong></td>
      <td><%= @group.sellers_quantity %></td>
    </tr>

    <tr>
      <td><strong>Boletos Vendidos:</strong></td>
      <td><%= @group.tickets_sold %></td>
    </tr>

    <tr>
      <td><strong>Talonarios Completados:</strong></td>
      <td><%= @group.books_sold %></td>
    </tr>

  </tbody>
</table>

<!--<#%= li#nk_to 'Edit', edit_group_path(@group) %>-->
<!--<#%= link_to 'Back', groups_path %>-->

<h1>Vendedores del Grupo</h1>
<%=render 'sellers/admin_index'%>