<div class="form">

  <%= form_tag(payment_path) do %>
    <%= hidden_field_tag :book_id , @book.id %>
    <table>
      <thead>
        <th colspan="3"><legend>Ingresa la cantidad de tickets a pagar:</legend></th>
      </thead>

      <tbody>

      <tr>
        <td><%= label_tag :quantity, 'Cantidad:' %></td>
        <td><%= number_field_tag :quantity, params[:quantity] %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag 'Ingresar', data: { confirm: 'La cantidad es correcta? Este paso no se puede revertir.' } %></td>
      </tr>

      </tbody>
    </table>


  <% end %>
</div>