<table>
  <thead>
  <tr>
    <th>Num</th>
    <!--<th>Num en Institución</th>-->
    <th>Vendidos</th>
    <th>Pagados</th>
    <th colspan="2">Estado</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% counter = 0 %>
  <% @books.each do |book| %>
    <% counter += 1 %>
    <tr>
      <!--<td>Talonario <#%= counter %></td>-->
      <td>Talonario <%= book.num_in_institution %></td>
      <td><%= book.tickets_sold %></td>
      <td><%= book.tickets_paid %></td>

      <% if book.paid %>
        <td colspan="2"><strong>PAGADO!</strong></td>
      <% elsif book.sold %>
        <td colspan="2"><strong>VENDIDO!</strong></td>
      <% else  %>
        <td colspan="2">en proceso...</td>
      <% end  %>

      <td><%= button_to 'Abrir', book_path(book.id) , method: :get %></td>
    </tr>
  <% end %>

  <tr>
    <td colspan="6"><%= button_to 'Nuevo Talonario', books_path %></td>
  </tr>

  </tbody>
</table>