<p id="notice"><%= notice %></p>

<p>
  <strong>Num in institution:</strong>
  <%= @book.num_in_institution %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @book.seller %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
