
<table>
  <tbody>

  <tr>
    <td><strong>Vendedor del Talonario:</strong></td>
    <td><%= @book.seller.name %></td>
  </tr>

  <tr>
    <td><strong>Boletos Vendidos:</strong></td>
    <td><%= @book.tickets_sold %></td>
  </tr>

  <tr>
    <td><strong>Boletos Pagados a la Institución:</strong></td>
    <td><%= @book.tickets_paid %></td>
  </tr>
  <% unless params[:payment]%>
    <% unless @book.paid %>
      <tr>
        <td></td>
        <td><%= button_to "Ingresar pago" , book_path(@book.id), params:{payment: true}, method: :get%></td>
      </tr>
    <%else%>
      <tr>
      <td colspan="2"><strong>ESTE TALONARIO YA FUE VENDIDO Y PAGADO A LA INSTITUCIÓN!</strong></td>
      </tr>
    <%end%>
  <%end%>

  </tbody>
</table>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<%if params[:payment]%>
  <%= render 'payment/new'%>
<%end%>