<!DOCTYPE html>
<html>
<head>
  <title>Raffle</title>
  <link href="https://fonts.googleapis.com/css?family=Lato: 100,300,400,700|Luckiest+Guy|Oxygen:300,400" rel="stylesheet">
  <link href="style.css" type="text/css" rel="stylesheet">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class='<%= controller.controller_name %>'>

<ul class="navigation">
  <li><img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-9/htmlcss1-img_logo-shiptoit.png" height="20px;"></li>
  <li class="active">Action List</li>
  <li>Profiles</li>
  <li>Settings</li>
</ul>

<div>
  <% if session[:user_id] or session[:admin_id] %>
    <%= button_to 'Cerrar Sesion' , logout_path, method: :delete %>
  <% else %>
    <%= button_to 'Iniciar Sesion' , login_path, method: :get %>
  <% end %>
</div>

<div class="search">Search the table</div>


<%= yield %>
</body>
</html>
